body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Navigation Bar */

.navbar-brand {
  font-size: 1.8rem;
  /* font-family: "Ubuntu"; */
  font-weight: bold;
}

.navbar {
  /* padding: 0 0 4.5rem; */
  background-color: #7EC2AA;
}

.nav-items {
  padding: 0 18px;
}

.nav-link {
  font-weight: 300;
  font-size: 1.2rem;
}

.heading-tag {
  color: #5f788a;
  padding: 15px;
}

.submit-button {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.added-check {
  padding-top: 25px;
  padding-left: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.main-but {
  background-color: #7EC2AA;
}

.main-add {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  padding-left: 20px;
}

.submit-button-main {
  margin-left: 20px;
  margin-right: 20px;
  /* margin-top: 5px; */
  margin-bottom: 20px;
}